5.munit-mock-when/src/main/mule/5.munit-mock-when.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="getAnimals" doc:id="06518b94-6d64-4973-b037-5f871190ebc8" >
		<http:listener doc:name="GET /mock-when-animals" doc:id="f9978524-9c17-4c40-bfb9-6d02e2e609b4" config-ref="HTTP_Listener_config" path="/mock-when-animals" allowedMethods="GET"/>
		<logger level="INFO" doc:name="Log Before Request" doc:id="522951a3-637c-4e4a-957d-3b90e4205064" message='#["Log Before Request"]'/>
		<http:request method="GET" doc:name="GET /getAnimalsListPayload" doc:id="6e08286b-d54f-401c-8a69-e19c5a02060d" config-ref="HTTP_Request_configuration" path="/mock-when-get"/>
		<logger level="INFO" doc:name="Log After Request" doc:id="f40438ef-34bd-4780-90a9-b419bcfd915e" message='#["Log After Request"]' />
	</flow>
	<flow name="getAnimalsListPayload" doc:id="a679dad7-bae7-4626-be08-79d49b854e7f" >
		<http:listener doc:name="Listener" doc:id="db9b4d28-033d-4d76-a832-5620bd991aec" config-ref="HTTP_Listener_config1" path="/mock-when-get" allowedMethods="GET"/>
		<set-payload value='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"animals": [&#10;		"animal": "dog",&#10;		"animal": "cat"&#10;	]&#10;}]' doc:name="Set Payload - Animals List" doc:id="b7e01c97-63ea-404e-bd49-0d925c33c4e0" />
		<logger level="INFO" doc:name="Log Payload" doc:id="b0763731-a779-4a18-8bb3-1e506d728925" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"log_inside_request": payload&#10;}]'/>
	</flow>
	<flow name="getPetName" doc:id="1f4da6bd-fff6-4c55-8790-09946f1517a9" >
		<http:listener doc:name="GET /mock-when-pet" doc:id="c7fc66b4-65e5-4e77-ac07-fa93026966f3" config-ref="HTTP_Listener_config" path="/mock-when-pet" allowedMethods="GET"/>
		<set-variable value='#["EROS"]' doc:name="Set Variable - myPetName" doc:id="2d845c87-b23a-40c0-b597-f85756aafeb5" variableName="myPetName"/>
		<logger level="INFO" doc:name="Logger - Pet Name" doc:id="99605502-142f-485a-ab61-aa128aab2b7f" message="#[vars.myPetName]"/>
		<choice doc:name="Choice" doc:id="16a26406-883a-4151-ad7e-2bf53896c7d3" >
			<when expression="#[isEmpty(vars.myPetName) or vars.myPetName == null]">
				<set-variable value='#["ARES"]' doc:name="Set Variable - RESET myPetName" doc:id="0bd2bf4c-ea00-4061-a0ed-60e22aa99faf" variableName="myPetName"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Log DEFAULT" doc:id="7d6b1da6-fbba-4578-9292-a7b8d4d20601" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"log_default": "PET NAME IS VALID"&#10;}]'/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="f36683ff-16c5-45f8-bef6-a862f12f350b" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"myPetName_1_RESET": vars.myPetName&#10;}]'/>
		<set-payload value="#[vars.myPetName]" doc:name="Set Payload - myPetName" doc:id="b3a012fe-2d8d-4410-b86c-e253ad8b0e05" />
	</flow>
	<flow name="getFruitsName" doc:id="db63a0e1-0cfb-4df9-a38a-6acf8f08d342" >
		<http:listener doc:name="GET /mock-when-fruits" doc:id="a0d26076-73c0-4c7d-b9e8-1dc8d59c6c51" config-ref="HTTP_Listener_config" path="/mock-when-fruits" allowedMethods="GET"/>
		<flow-ref doc:name="Flow Reference" doc:id="6004ee8f-c12d-4f5a-bfef-dd56f2592fe9" name="generateFruitsName"/>
		<ee:transform doc:name="Transform Message" doc:id="30704bda-fb6c-4ea8-9927-be51bf7f8646" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map((value,key)->
	{
		(key): value
	}
)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger AFTER TRANSFORMER" doc:id="7fb5480b-cd9e-4750-bb7f-79856b653196" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"logger_after_transformer": payload &#10;}]'/>
	</flow>
	<flow name="generateFruitsName" doc:id="50b80ff2-2d19-4036-8d6c-aff32eb602b4" >
		<set-payload value='#[["mango","pineapple","melon","kiwi"]]' doc:name="Set Payload - fruits" doc:id="fdbeff47-945e-4d8a-8315-52d3257cf2fc" />
		<logger level="INFO" doc:name="Logger - list of fruits" doc:id="2c920a74-a2ff-4971-8528-a9cde4656365" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"logger_fruits": payload&#10;}]'/>
	</flow>
</mule>
