1.mnunit-testsuite-testcase/src/main/mule/1.mnunit-testsuite-testcase.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="basicCalculator" doc:id="6b440558-a57b-4761-b60e-5742e231cca7" >
		<http:listener doc:name="Listener" doc:id="470ed716-78a2-4968-88c1-2b5333276e12" config-ref="HTTP_Listener_config" path="/calculator" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Log START" doc:id="c50d9829-a7eb-4e37-99f5-f6689f8c8da2" message='#["LOG START"]'/>
		<ee:transform doc:name="Transform Message" doc:id="602562a2-d0fe-461d-9f70-42dc7b412aeb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json

var valueA = payload.a default 0
var valueB = payload.b default 0
---
{
	SUM: valueA + valueB,
	DIFFERENCE: valueA - valueB,
	PRODUCT: valueA * valueB,
	FACTOR: valueA / valueB
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log CALCULATOR" doc:id="446b3360-cec9-4a74-91ec-27ca3d35452f" message="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]"/>
		<logger level="INFO" doc:name="Log END" doc:id="5cb92dd3-50a7-40f9-8e8c-29682e9969b1" message='#["LOG END"]'/>
	</flow>
</mule>
