6.munit-set-event/src/main/mule/6.munit-set-event.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="createClientInLisbon" doc:id="89df6b0b-102b-4661-a971-02d2f0e8ec1a" >
		<http:listener doc:name="POST /createClient" doc:id="09b19e82-cf43-473b-ba57-46bbee62799e" config-ref="HTTP_Listener_config" path="/createClient" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Log START" doc:id="792d1f8c-a3a5-4cb6-8d33-449c5f5d1353" message='#["LOG START"]'/>
		<flow-ref doc:name="Flow Reference - validateLisbonDistrict" doc:id="538576e4-3a88-42c6-a8b1-cf93226a365f" name="validateLisbonDistrict"/>
		<flow-ref doc:name="Flow Reference - generateClientUUID" doc:id="2a2418ee-bb38-4ecd-bef8-bf1774eacc6a" name="generateClientUUID"/>
		<set-payload value="#[%dw 2.0&#10;output application/json&#10;---&#10;vars.clientUUID]" doc:name="Set Payload - clientUUID" doc:id="8cfca5eb-7870-4631-ba17-142427167bcc" />
		<logger level="INFO" doc:name="Log END" doc:id="9132bbcd-3728-4281-9778-4f6a01b08187" message='#["Log END"]'/>
	</flow>
	<sub-flow name="validateLisbonDistrict" doc:id="eec51f72-4887-434b-932a-4b08a47c3440" >
		<choice doc:name="Choice" doc:id="9990f244-df27-4c37-a15d-55be01b416e8" >
			<when expression='#[payload.district == "Lisbon"]'>
				<set-variable value="#[true]" doc:name="Set Variable - validateClient TRUE" doc:id="e09e6cb8-6e9b-4feb-b3c3-d626b3ceb03d" variableName="validateClient"/>
			</when>
			<otherwise >
				<set-variable value="#[false]" doc:name="Set Variable - validateClient FALSE" doc:id="cd247a51-684f-493c-82e8-acc4fed7082d" variableName="validateClient"/>
			</otherwise>
		</choice>
	</sub-flow>
	<sub-flow name="generateClientUUID" doc:id="f41387b3-ddb3-4436-9aa9-c45232d9dbda" >
		<logger level="INFO" doc:name="Log - vars.validateClient" doc:id="b83da734-c6a6-42d1-abb0-b70effe4c60a" message="#[vars.validateClient]"/>
		<choice doc:name="Choice" doc:id="868310fc-00cb-48f8-a7ed-510d3b3ea0b4">
			<when expression="#[vars.validateClient == true]">
				<set-variable value="#[%dw 2.0&#10;output application/json&#10;---&#10;uuid()]" doc:name="Set Variable - clientUUID" doc:id="7a8f64fe-674b-46d8-9430-289dd402c09c" variableName="clientUUID"/>
			</when>
			<otherwise>
				<raise-error doc:name="Raise error" doc:id="130915b9-90fd-47f0-a3de-0a3bf87a4869" type="CLIENT:INVALID_DATA" description='"INVALID CLIENT DATA"'/>
			</otherwise>
		</choice>
	</sub-flow>
</mule>
